.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(1, 26, 1);
  color: white;
}

.card-contents {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 56, 20);
  color: white;
  margin-top: 100px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.link {
  text-decoration: underline;
  color: white;
  margin-bottom: 10px;
}

.to-detail {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

#card {
  display: flex;
  justify-content: center;
}

.ships {
  display: flex;
  background-color: rgb(32, 64, 32);
  height: 100px;
  width: 200px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 5px;
}

#ship-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  align-content: center;
}